.mainpage{
    display: flex;
    flex-direction: column;
    height:100%;
}

.mainpage-bandeau{
    flex:0 1 auto;
    min-height: 64px;
}

.mainpage-content{
    flex:1 1 auto;
    display: flex;
}

.mainpage-content-main{
    height:100%;
    width:100%;
}